.header {
  background-color: $colour_grey_dark;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  flex-shrink: 0;

  font-style: normal;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2.29846px;

  width: 100vw;
  button {
    position: absolute;
    top: 50%; left: 0;
    transform: translate3d(10px, -50%, 0.01px);
    display: block;
    text-transform: uppercase;
    color: #FF7E6E;
  }
}