.pads {
  width: 100%;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 10px;
  align-items: flex-start;
  align-content: flex-start;
  max-height: 800px;
  margin: auto;
  flex: 1;
  &--item {
    align-items: center;
    width: calc( (((100vh - 58px)/4) - 20px) * 1.42);
    max-width: calc(50% - 20px);
    flex-shrink: 0;
    border: 2px solid $colour_primary;
    margin: 10px;
    position: relative;
    transition: all .22s ease;
    &:active {
      transform: scale(.98);
      background: $colour_primary;
      &:before {
        opacity: 1;
      }
    }
    &:before {
      content: '';
      display: block;
      padding-bottom: 70.58%;
      opacity: 0;
      background: $colour_primary;
      will-change: opacity;
      transition: opacity .22s ease;
    }
    &-inner {
      position: absolute; top: 0; left: 0; width: 100%; height: 100%;
      display: block;
      text-align: left;
      padding: 10px;
    }
  }
  @media screen and (min-width: 800px) {
    &--item {
      width: calc( (((100vh - 58px - 156px)/4) - 20px) * 1.42);
    }
  }
  @media screen and (max-width: 799px) {
    &--item {
      width: calc( (((100vh - 58px)/4) - 20px) * 1.42);
    }
  }
}

// @keyframes poulse {
//   0% {
//     transform: scale(1);
//     background: $colour_primary;
//   }
//   10% {
//     transform: scale(.95);
//     background: lighten($colour_primary, 10);
//   }
//   100% {
//     transform: scale(1);
//     background: $colour_primary;
//   }
// }