.screen {
  text-align: center;
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  &--inner {
    padding: 58px 20px 20px;
    overflow: hidden;
    display: flex;
    width: 100%;
    max-width: 500px;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    & > * {
      flex-shrink: 0;
    }
  }
  &--title {
    font-style: normal;
    font-weight: bold;
    line-height: 1.52;
    @include fluid(font-size, $bottom_breakpoint, $top_breakpoint, 32px, 48px);
    letter-spacing: 2.29846px;
    text-transform: uppercase;
  }
  &--attempts {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 30px; height: auto;
      margin: 0 5px;
    }
    &-fill {
      fill: $colour_primary;
    }
    &-stroke {
      fill: none;
      stroke: $colour_primary;
      stroke-width: 2px;
    }
  }
  &--score {
    text-transform: uppercase;
    &-title {
      font-size: 18px;
    }
    &-value {
      font-size: 48px;
    }
  }
  &--preview {
    line-height: 27px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2.29846px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
      margin-bottom: 30px;
    }
    p {
      max-width: 235px;
      margin: 0 auto;
    }
  }
  &--header {
    font-size: 18px;
    letter-spacing: 2.29846px;
    text-transform: uppercase;
    position: absolute; top: 0; left: 0; width: 100%;
    &_transparent {
      background-color: transparent;
    }
    &-inner {
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      height: 58px;
      padding: 0 10px;
      .btn {
        color: $colour_white;
      }
      svg {
        margin-top: 2px;
        width: 15px;
      }
      .screen--attempts-stroke {
        stroke: $colour_white;
      }
      .screen--attempts-fill {
        fill: $colour_white;
      }
      & > * {
        &:not(.btn) {
          width: 33.3%;
        }
      }
    }
    .btn {
      z-index: 90;
    }
    .screen--attempts {
      margin-left: auto;
      width: 100%;	
      justify-content: flex-end;
    }
    @media screen and (max-width: 799px) {
      background-color: $colour_grey_dark;
    }
  }
  &--footer {
    width: 100%;
    @include fluid(padding, $bottom_breakpoint, $top_breakpoint, 15px, 30px);
    margin-top: auto;
    @media screen and (max-width: 799px) {
      background: $colour_grey_dark;
    }
    &-inner {
      max-width: 500px;
      margin: 0 auto;
    }
  }
  &--share {
    max-width: 300px;
    margin-left: auto;
    margin-right: 40px;
    padding-bottom: 40px;
    &-inner {
      display: flex;
      margin-top: 20px;
    }
    .btn {
      margin-left: 15px;
    }
    &-url {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      background-color: $colour_white;
      color: $colour_black;
      align-items: center;
      padding: 10px;
      & > * {
        flex: 0 0 auto;
      }
    }
  }

  // specific cols :
  &_score {
    &_desktop {
      .screen--inner {
        justify-content: flex-end;
      }
    }
    .btn_stroke {
      width: 100%;
    }
    
  }
  &_leaderboard {
    flex-grow: 0;
    flex-shrink: 1;
    .leaderboard {
      list-style: none;
      max-height: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      overflow-y: auto;
      padding: 30px 0;
      flex-shrink: 0;
      &--item {
        flex-shrink: 0;
        &-name {
          font-size: 18px;
        }
        &-points {
          font-size: 48px;
          font-weight: bold;
        }
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
  &_3 {
    z-index: 900;
    max-height: 100%;
    height: 100%;
    .screen--inner {
      padding-bottom: 0;
      align-items: flex-end;
    }
    .screen--share {
      margin: 40px 0 0 auto;
      padding-bottom: 30px;
    }
    .screen--attempts {
      margin: 40px 0 0;
    }
    @media screen and (max-width: 799px) {
      position: fixed !important;
      top: 0; left: 0;
      transform: translate3d(100%, 58px, 0.01px);
      width: 100vw;
      background: $colour_black;
      transition: all .44s ease;
      &--inner {
        max-height: calc(100% - 58px);
        height: calc(100% - 58px);
      }
      &.is-active {
        transform: translate3d(0%, 58px, 0.01px);
        & ~ .screen .screen--header {
          position: fixed;
          z-index: 20;
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    width: 33vw;
  }
  @media screen and (max-width: 799px) {
    width: 100vw;
  }
}