.sequencer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  max-height: 870px;
  padding: 40px 0;
  counter-reset: section;
  justify-content: center;
  .button-section {
    display: flex;
    justify-content: center;
    max-width: calc(78px * 4);
    width: 100%;
    height: calc((100% - 120px)/4);
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $colour_white;
    }
  }
  .module__name__sub-title {
    text-align: center;
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .step-wrapper {
    flex: 1;
    max-width: 70px;
    margin: 4px;
  }
}

.sequencer-button {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0;
  border: 1px solid $colour_sequencer;
  border-radius: 2px;
  background-color: unset;
  position: relative;
  &:after {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
  }

  &:active {
    background-color: #292929;
  }

  &__indicator {
    height: 15px;
    width: 15px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 15px; left: 50%; 
    transform: translateX(-50%);

    &--selected {
      background-color: $colour_sequencer;
      box-shadow: 0px 0px 16px $colour_sequencer;
    }

    &--active {
      background-color: white;
      box-shadow: 0px 0px 16px white;
    }
  }
  @media screen and (max-height: 540px) {
    &:after {
      display: none;
    }
    &__indicator {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}