.sequencer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  padding: 40px 0;
  counter-reset: section;
  .button-section {
    display: flex;
    justify-content: center;
    max-width: calc(78px * 4);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    &:not(:last-child) {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $colour_white;
    }
  }
  .module__name__sub-title {
    text-align: center;
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .step-wrapper {
    flex: 1;
    max-width: 70px;
    margin: 4px;
  }
}

.sequencer-button {
  height: 8em;
  width: 100%;
  display: flex;
  padding: 0;
  border: 1px solid $colour_primary;
  border-radius: 2px;
  background-color: unset;
  position: relative;
  &:after {
    counter-increment: section;
    content: counter(section);
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
  }

  &__content {
    width: 100%;
    margin-top: -3.6em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &:active {
    background-color: #292929;
  }

  &__indicator {
    height: 15px;
    width: 15px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;

    &--selected {
      background-color: $colour_primary;
      box-shadow: 0px 0px 16px $colour_primary;
    }

    &--active {
      background-color: white;
      box-shadow: 0px 0px 16px white;
    }
  }
}